.widget-content {
    padding: 1rem;
    flex-direction: row;
    align-items: center;
}
.p-0 {
    padding: 0 !important;
}
.widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
}
.mr-3, .mx-3 {
    margin-right: 1rem !important;
}

.widget-content .widget-content-left .widget-heading {
    opacity: .8;
    font-weight: bold;
}

.widget-content .widget-content-left .widget-subheading {
    opacity: .5;
}

.widget-content .widget-content-right {
    margin-left: auto;
}

input{
    margin-bottom: 10px;
}